/* Import Google font - Poppins */ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); 
 
* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  font-family: 'Poppins', sans-serif; 
} 
 
body { 
  min-height: 100vh; 
  width: 100%; 
  background: url('backgroundImage.jpg') no-repeat center center fixed; 
  background-size: cover; 
  display: flex; 
  align-items: center; 
  justify-content: flex-end; 
  overflow:hidden; 
} 
 
.logo { 
  position: absolute; 
  background-size: cover; /* Scales the image to cover the entire area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100vh; /* Full height of viewport */
    width: 100%; /* Full width of viewport */
}
 
.outer-container { 
  width: 80%; 
  max-width: 1200px; 
  padding: 20px; 
  display: flex; 
  justify-content: flex-end; /* Adjust this if needed */ 
  position: relative; /* Needed for absolute positioning of logo */ 
} 
 
.form-container { 
  background: #cccccc; 
  border-radius: 10px; 
  padding: 20px; 
  width: 100%; 
  max-width: 430px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  position: relative; 
} 
 
.container input[type="checkbox"] { 
  display: none; 
} 
 
.login { 
  display: block; 
} 
 
.registration { 
  display: none; 
} 
 
.check{ 
  display:none; 
} 
#check:checked ~ .registration { 
  display: block; 
} 
 
#check:checked ~ .login { 
  display: none; 
} 
 
.container .form { 
  padding: 20px; 
} 
 
.form header { 
  font-size: 24px; 
  font-weight: 500; 
  text-align: center; 
  margin-bottom: 20px; 
} 
 
.form input { 
  height: 40px; 
  width: 100%; 
  padding: 0 15px; 
  font-size: 17px; 
  margin-bottom: 15px; 
  border: 1px solid #ddd; 
  border-radius: 6px; 
  outline: none; 
  height: 10vh; 
} 
 
.form input:focus { 
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); 
} 
 
.form a { 
  font-size: 16px; 
  color: #1c0175; 
  text-decoration: none; 
} 
 
.form a:hover { 
  text-decoration: underline; 
} 
 
.form input.button { 
  color: #fff; 
  background: #3e5468; 
  font-size: 1.2rem; 
  font-weight: 500; 
  letter-spacing: 1px; 
  margin-top: 20px; 
  cursor: pointer; 
  transition: 0.4s; 
} 
 
.form input.button:hover { 
  background: #a4b0ef; 
} 
 
.signup { 
  font-size: 17px; 
  text-align: center; 
} 
 
.signup label { 
  color: #1c0175; 
  cursor: pointer; 
} 
 
.signup label:hover { 
  text-decoration: underline; 
} 
 
.user-type { 
  margin-bottom: 10px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
} 
 
.user-type input[type="radio"] { 
  margin-right: 5px; 
  transform: scale(0.6); 
} 
 
.user-type label { 
  margin-right: 15px; 
} 
 
.extra-fields { 
  display: none; 
} 
 
@media (max-width: 768px) { 
  body { 
    justify-content: center; 
  } 
   
  .outer-container { 
    justify-content: center; 
  } 
 
  .form-container { 
    width: 90%; 
  } 
}