
 body {
        font-family: Arial, sans-serif;
        background-color: #0D112F;
        color: white;
        margin: 0;
        }

        .sidebar {
            width: 250px;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            background-color: #11194c;
            padding-top: 20px;
            box-sizing: border-box;
        }
        .sidebar img.logo {
            display: block;
            margin: 0 auto 20px auto;
            height: 60px;
        }
        .sidebar a, .sidebar .dropdown-btn {
            padding: 10px 15px;
            text-decoration: none;
            font-size: 18px;
            color: white;
            display: block;
            background-color: #11194c;
            border: none;
            text-align: left;
            width: calc(100% - 30px); /* Adjusted to fit within sidebar */
            cursor: pointer;
            outline: none;
            margin: 0 auto; /* Center the menu items */
        }
        .sidebar a:hover, .sidebar .dropdown-btn:hover {
            background-color: #262b56;
        }
        .sidebar .dropdown-container {
            display: none;
            background-color: #11194c;
        }
        .sidebar .dropdown-container a {
            padding-left: 45px; /* Indent dropdown items */
        }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #11194c;
            padding: 10px 20px;
            position: fixed;
            width: calc(100% - 250px);
            left: 250px;
            top: 0;
            z-index: 1000;
        }
        .header .date-time {
            flex-grow: 1;
            text-align: center;
        }
        .header img.profile {
            height: 40px;
            border-radius: 50%;
        }

        .footer {
            background-color: #0D112F;
            color: white;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            width: 100%;
            bottom: 0;
            left: 0;
        }