<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>milk</display-name>
    <servlet-name>milk</servlet-name>
    <servlet-class>ConnectionManager.milk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>milk</servlet-name>
    <url-pattern>/milk</url-pattern>
  </servlet-mapping>
  <display-name>MyPaymentPage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConnectionManager</display-name>
    <servlet-name>ConnectionManager</servlet-name>
    <servlet-class>ConnectionManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionManager</servlet-name>
    <url-pattern>/ConnectionManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMilkEntryServlet</display-name>
    <servlet-name>AddMilkEntryServlet</servlet-name>
    <servlet-class>Milk.controller.AddMilkEntryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMilkEntryServlet</servlet-name>
    <url-pattern>/AddMilkEntryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddShippingServlet</display-name>
    <servlet-name>AddShippingServlet</servlet-name>
    <servlet-class>Milk.controller.AddShippingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddShippingServlet</servlet-name>
    <url-pattern>/AddShippingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPaymentServlet</display-name>
    <servlet-name>AddPaymentServlet</servlet-name>
    <servlet-class>Milk.controller.AddPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPaymentServlet</servlet-name>
    <url-pattern>/AddPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>Milk.controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminRegistrationServlet</display-name>
    <servlet-name>AdminRegistrationServlet</servlet-name>
    <servlet-class>Milk.controller.AdminRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRegistrationServlet</servlet-name>
    <url-pattern>/AdminRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLoginServlet</display-name>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <servlet-class>Milk.controller.CustomerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <url-pattern>/CustomerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerRegistrationServlet</display-name>
    <servlet-name>CustomerRegistrationServlet</servlet-name>
    <servlet-class>Milk.controller.CustomerRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRegistrationServlet</servlet-name>
    <url-pattern>/CustomerRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditMilkEntryServlet</display-name>
    <servlet-name>EditMilkEntryServlet</servlet-name>
    <servlet-class>Milk.controller.EditMilkEntryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMilkEntryServlet</servlet-name>
    <url-pattern>/EditMilkEntryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLoginServlet</display-name>
    <servlet-name>EmployeeLoginServlet</servlet-name>
    <servlet-class>Milk.controller.EmployeeLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLoginServlet</servlet-name>
    <url-pattern>/EmployeeLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MilkPurchaseServlet</display-name>
    <servlet-name>MilkPurchaseServlet</servlet-name>
    <servlet-class>Milk.controller.MilkPurchaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MilkPurchaseServlet</servlet-name>
    <url-pattern>/MilkPurchaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MilkSalesReportServlet</display-name>
    <servlet-name>MilkSalesReportServlet</servlet-name>
    <servlet-class>Milk.controller.MilkSalesReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MilkSalesReportServlet</servlet-name>
    <url-pattern>/MilkSalesReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterEmployeeServlet</display-name>
    <servlet-name>RegisterEmployeeServlet</servlet-name>
    <servlet-class>Milk.controller.RegisterEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterEmployeeServlet</servlet-name>
    <url-pattern>/RegisterEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProductionReport</display-name>
    <servlet-name>ViewProductionReport</servlet-name>
    <servlet-class>Milk.controller.ViewProductionReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProductionReport</servlet-name>
    <url-pattern>/ViewProductionReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPickupServlet</display-name>
    <servlet-name>ViewPickupServlet</servlet-name>
    <servlet-class>ViewPickupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPickupServlet</servlet-name>
    <url-pattern>/ViewPickupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageEmployeesServlet</display-name>
    <servlet-name>ManageEmployeesServlet</servlet-name>
    <servlet-class>Milk.controller.ManageEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageEmployeesServlet</servlet-name>
    <url-pattern>/ManageEmployeesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployeeServlet</display-name>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <servlet-class>Milk.controller.UpdateEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <url-pattern>/UpdateEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProfileServlet</display-name>
    <servlet-name>AdminProfileServlet</servlet-name>
    <servlet-class>Milk.controller.AdminProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProfileServlet</servlet-name>
    <url-pattern>/AdminProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerProfieServlet</display-name>
    <servlet-name>CustomerProfieServlet</servlet-name>
    <servlet-class>Milk.controller.CustomerProfieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerProfieServlet</servlet-name>
    <url-pattern>/CustomerProfieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerProfileServlet</display-name>
    <servlet-name>CustomerProfileServlet</servlet-name>
    <servlet-class>Milk.controller.CustomerProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerProfileServlet</servlet-name>
    <url-pattern>/CustomerProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCustomerProfileServlet</display-name>
    <servlet-name>ViewCustomerProfileServlet</servlet-name>
    <servlet-class>Milk.controller.ViewCustomerProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCustomerProfileServlet</servlet-name>
    <url-pattern>/ViewCustomerProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerProfileServlet</display-name>
    <servlet-name>UpdateCustomerProfileServlet</servlet-name>
    <servlet-class>Milk.controller.UpdateCustomerProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerProfileServlet</servlet-name>
    <url-pattern>/UpdateCustomerProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerProfileServlet</display-name>
    <servlet-name>DeleteCustomerProfileServlet</servlet-name>
    <servlet-class>Milk.controller.DeleteCustomerProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerProfileServlet</servlet-name>
    <url-pattern>/DeleteCustomerProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerServlet</display-name>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <servlet-class>Milk.controller.UpdateCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <url-pattern>/UpdateCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerServlet</display-name>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>Milk.controller.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>milkProductionServlet</display-name>
    <servlet-name>milkProductionServlet</servlet-name>
    <servlet-class>Milk.controller.milkProductionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>milkProductionServlet</servlet-name>
    <url-pattern>/milkProductionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdminProfileServlet</display-name>
    <servlet-name>UpdateAdminProfileServlet</servlet-name>
    <servlet-class>Milk.controller.UpdateAdminProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminProfileServlet</servlet-name>
    <url-pattern>/UpdateAdminProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseServlet</display-name>
    <servlet-name>PurchaseServlet</servlet-name>
    <servlet-class>Milk.controller.PurchaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseServlet</servlet-name>
    <url-pattern>/PurchaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDashboardServlet</display-name>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <servlet-class>Milk.controller.AdminDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <url-pattern>/AdminDashboardServlet</url-pattern>
  </servlet-mapping>
</web-app>